<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>

	<title>Lincoln Middle School - Store</title>
</head>
<body>
	<p>Hello world this is the store page!</p>
	<table>
		<tr>
			<td>Tomato!
				<img src="tomato.jpg">
				<p>Click on "Contact Us" to place an order!</p>
			</td>
			<td>Cauliflower!
				<img src="cauliflower.jpg">
				<p>Click on "Contact Us" to place an order!</p>
			</td>
			<td>Kale!
				<img src="kale.jpg">
				<p>Click on "Contact Us" to place an order!</p>
			</td>
		</tr>
	</table>
</body>